CompileFlags:
  Add:
    - "-DQ3_VM"
    - "-DDEFRAG"
    # it's a keyword in modern C standards, and clangd isn't happy seeing
    # the sdk headers use it... wouldn't care normally but it causes the
    # linter to bail on our files because there were already too many
    # errors...
    - "-Dinline="
    # complain about non ANSI Cisms please
    - "-ansi"
    - "-pedantic-errors"
    # no idea if it can cause miscompiles for QVMs, better safe than sorry
    - "-Wimplicit-function-declaration"
    - "-Werror=implicit-function-declaration"
    # lcc supports "//" comments
    - "-Wno-comment"
    - "-Wunused-variable"
    # NOTE: include dirs are in compile_flags.json instead, due to dir args
    # being rooted per file here instead of a fixed dir like the project root...

Diagnostics:
  # Likely not useful since we just include a mega file like Q3 does (eg. cg_local.h)
  UnusedIncludes: None

---

If:
  PathMatch:
    - "src/sdk/.*"
Diagnostics:
  Suppress: ["*"]
CompileFlags:
  Remove:
    - "-ansi"
    - "-pedantic-errors"
    - "-Wimplicit-function-declaration"
    - "-Werror=implicit-function-declaration"
    - "-Wunused-variable"
  Add:
    - "-ferror-limit=1"