BasedOnStyle: Google
IndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
QualifierAlignment: Left
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: Never
  BeforeElse: false
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: All
SortIncludes: false
InsertNewlineAtEOF: true
CommentPragmas: "(@copydoc|@copybrief|@see|@overload|@snippet)"
Macros:
  - "DEFINE_HOOK(a,b,c) = a b(c) {"
  - "END_HOOK=}"