BasedOnStyle: Google
IndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
QualifierAlignment: Left
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: Never
  BeforeElse: false
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: All
SortIncludes: false
InsertNewlineAtEOF: true
CommentPragmas: "(@copydoc|@copybrief|@see|@overload|@snippet)"
MacroBlockBegin: "^DEFINE_HOOK$"
MacroBlockEnd: "^END_HOOK$"